<section class="mt-4">
  <div class="container" [ngSwitch]="url">
    <app-main-table *ngSwitchCase="'dashboard'"></app-main-table>
    <app-post-table *ngSwitchCase="'posts'"></app-post-table>
    <app-categories-table *ngSwitchCase="'categories'"></app-categories-table>
    <app-users-table *ngSwitchCase="'users'"></app-users-table>
    <app-login *ngSwitchCase="'login'"></app-login>
    <app-profile-table *ngSwitchCase="'profile'"></app-profile-table>
    <app-setting *ngSwitchCase="'setting'"></app-setting>
  </div>

</section>
