<section>
  <div class="bimage">
    <div class="dark-layout d-flex align-items-center">
      <div class="container text-center text-white">
        <h3>Read Our Blog</h3>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row m-3">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/random/300x200" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Blog Post One</h4>
            <small class="text-muted">Written by Jeff on 05/20</small>
            <hr/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam,
              dignissimos molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel
              iusto mollitia exercitationem.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/random/301x201" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Blog Post Two</h4>
            <small class="text-muted">Written by Jeff on 05/20</small>
            <hr/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam,
              dignissimos molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel
              exercitationem.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/random/302x202" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Blog Post Three</h4>
            <small class="text-muted">Written by Jeff on 05/20</small>
            <hr/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam,
              dignissimos molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel
              iusto mollitia exercitationem.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam,
              dignissimos molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit.</p>
            <div class="blockquote-footer">Someone Famous in Source Title</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-danger text-white">
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam,
              dignissimos molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit.</p>
            <div class="blockquote-footer text-white">Someone Famous in Source Title</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam,
              dignissimos molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit.</p>
            <div class="blockquote-footer">Someone Famous in Source Title</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
