<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Latest Posts</h4>
        <table class="table table-striped">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <a class="btn btn-secondary">
                <i class="fa fa-angle-double-right"></i> Details
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>
              <a class="btn btn-secondary">
                <i class="fa fa-angle-double-right"></i> Details
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>
              <a class="btn btn-secondary">
                <i class="fa fa-angle-double-right"></i> Details
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>
              <a class="btn btn-secondary">
                <i class="fa fa-angle-double-right"></i> Details
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>
              <a class="btn btn-secondary">
                <i class="fa fa-angle-double-right"></i> Details
              </a>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>
