<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/mlogo.png" alt="" width="50" height="50">
      <h3 class="d-inline align-middle ml-3 text-muted">Back</h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Meet The Authors </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact </a>
        </li>


      </ul>

    </div>
  </div>
</nav>
