<section id="sharesection" class="bg-primary">
  <div class="container ">

    <div class="row">
      <div class="col text-center py-5">
        <h3 class="display-4">Share</h3>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias atque aut culpa
          dolor eum ex
          exercitationem ipsam laudantium libero maiores maxime modi odit velit voluptatum! Culpa dolor inventore
          tempora.</p>
        <button class="btn btn-outline-light">Find Out More</button>
      </div>
    </div>
  </div>
</section>
