<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>Get In Touch</h4>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, similique?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h4>Get In Touch</h4>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, similique?</p>
      </div>
      <div class="col-md-4">
        <h4>Get In Touch</h4>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, similique?</p>
      </div>
    </div>
  </div>
</section>
