<section class="bg-light text-white">
  <div class="container" [ngSwitch]="url">
    <div class="row p-4" *ngSwitchCase="'dashboard'">
      <div class="col">
        <button type="button" class="btn btn-primary btn-raised btn-block" data-toggle="modal" data-target="#modelId">
          <i class="fa fa-plus mr-2"></i>Add Post
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-danger btn-raised btn-block" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-plus mr-2"></i>Add Category
        </button>
      </div>
      <div class="col">
        <button class="btn btn-info btn-raised btn-block" data-toggle="modal" data-target="#addUser"><i class="fa fa-plus mr-2"></i>Add User</button>
      </div>
    </div>
    <div class="row p-4" *ngSwitchCase="'posts'">
      <div class="ml-auto col-md-8">
        <div class="input-group">
          <input
            type="search"
            class="form-control" name="name" id="name" placeholder="Search for Posts" aria-label="">
          <span class="input-group-btn">
      		<button class="btn btn-raised" [ngClass]="getColor(url)" type="button" aria-label="">Search</button>
        </span>
        </div>
      </div>
    </div>
    <div class="row p-4" *ngSwitchCase="'categories'">
      <div class="ml-auto col-md-8">
        <div class="input-group">
          <input
            type="search"
            class="form-control" name="name" id="name" placeholder="Search for Categories" aria-label="">
          <span class="input-group-btn">
      		<button class="btn btn-raised" [ngClass]="getColor(url)" type="button" aria-label="">Search</button>
        </span>
        </div>
      </div>
    </div>
    <div class="row p-4" *ngSwitchCase="'users'">
      <div class="ml-auto col-md-8">
        <div class="input-group">
          <input
            type="search"
            class="form-control" name="name" id="name" placeholder="Search for Users" aria-label="">
          <span class="input-group-btn">
      		<button class="btn btn-raised" [ngClass]="getColor(url)" type="button" aria-label="">Search</button>
        </span>
        </div>
      </div>
    </div>
    <div class="row p-4" *ngSwitchCase="'profile'">
      <div class="col">
        <button class="btn btn-info btn-block">Back To Dashboard</button>
      </div>
      <div class="col">
        <button class="btn btn-primary btn-raised btn-block">Change Password</button>
      </div>
      <div class="col">
        <button class="btn btn-danger btn-raised btn-block">Delete Account</button>
      </div>
    </div>
    <div class="row p-4" *ngSwitchCase="'setting'">
      <div class="col-md-4">
        <button class="btn btn-info btn-block" [routerLink]="['./']">Back To Dashboard</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary btn-raised btn-block">Save Change</button>
      </div>

    </div>
    <div class="row p-4" *ngSwitchCase="'details'">
      <div class="col">
        <button class="btn btn-info btn-block" [routerLink]="['./']">Back To Dashboard</button>
      </div>
      <div class="col">
        <button class="btn btn-primary btn-raised btn-block">Save Change</button>
      </div>
      <div class="col">
        <button class="btn btn-danger btn-raised btn-block">Delete Post</button>
      </div>
    </div>
  </div>
</section>


<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modelTitleId">Add Posts</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1" class="bmd-label-floating">Title</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

          <div class="form-group">
            <label for="inlineFormCustomSelectPref">Category</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class="form-group">
            <label for="inlineFormCustomSelectPref">Upload Image</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1" class="bmd-label-floating">Title</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1" class="bmd-label-floating">Title</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1" class="bmd-label-floating">Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="bmd-label-floating">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="bmd-label-floating">Password</label>
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="bmd-label-floating">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
