<section class="bg-light text-white">
  <div class="container" [ngSwitch]="url">
    <div class="row p-4" *ngSwitchCase="'dashboard'">
      <div class="col">
        <button class="btn btn-primary btn-raised btn-block"><i class="fa fa-plus mr-2"></i>Add Post</button>
      </div>
      <div class="col">
        <button class="btn btn-warning btn-raised btn-block"><i class="fa fa-plus mr-2"></i>Add Category</button>
      </div>
      <div class="col">
        <button class="btn btn-info btn-raised btn-block"><i class="fa fa-plus mr-2"></i>Add User</button>
      </div>
    </div>
    <div class="row p-4" *ngSwitchCase="'posts'">
      <div class="ml-auto col-md-8">
        <div class="input-group">
          <input
            type="search"
            class="form-control" name="name" id="name" placeholder="Search for Posts" aria-label="">
          <span class="input-group-btn">
      		<button class="btn btn-raised" [ngClass]="getColor(url)" type="button" aria-label="">Search</button>
        </span>
        </div>
      </div>
    </div>
    <div class="row p-4" *ngSwitchCase="'categories'">
      <div class="ml-auto col-md-8">
        <div class="input-group">
          <input
            type="search"
            class="form-control" name="name" id="name" placeholder="Search for Categories" aria-label="">
          <span class="input-group-btn">
      		<button class="btn btn-raised" [ngClass]="getColor(url)" type="button" aria-label="">Search</button>
        </span>
        </div>
      </div>
    </div>
    <div class="row p-4" *ngSwitchCase="'users'">
      <div class="ml-auto col-md-8">
        <div class="input-group">
          <input
            type="search"
            class="form-control" name="name" id="name" placeholder="Search for Users" aria-label="">
          <span class="input-group-btn">
      		<button class="btn btn-raised" [ngClass]="getColor(url)" type="button" aria-label="">Search</button>
        </span>
        </div>
      </div>
    </div>
    <div class="row p-4" *ngSwitchCase="'profile'">
      <div class="col">
        <button class="btn btn-info btn-block">Back To Dashboard</button>
      </div>
      <div class="col">
        <button class="btn btn-primary btn-raised btn-block">Change Password</button>
      </div>
      <div class="col">
        <button class="btn btn-danger btn-raised btn-block">Delete Account</button>
      </div>
    </div>
    <div class="row p-4" *ngSwitchCase="'setting'">
      <div class="col-md-4">
        <button class="btn btn-info btn-block" [routerLink]="['./']">Back To Dashboard</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary btn-raised btn-block">Save Change</button>
      </div>

    </div>
  </div>
</section>
