<section>
  <div class="bimage">
    <div class="dark-layout d-flex align-items-center">
      <div class="container text-center text-white">
        <h3>About Us</h3>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>
<section class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div>
          <h3>What We Do</h3>
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga eaque. Amet, assumenda
            aliquid tempore
            dolorum
            error eveniet doloribus sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium pariatur aut sint
            deleniti
            laborum ducimus voluptatem? Architecto cumque quod suscipit officiis soluta, voluptate dicta blanditiis
            similique
            praesentium temporibus adipisci debitis labore!</p>

          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga eaque. Amet, assumenda aliquid tempore
            dolorum
            error eveniet doloribus sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium pariatur aut sint
            deleniti
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="https://source.unsplash.com/random/700x700/?technology" class="img-fluid rounded-circle moveTop">
      </div>
    </div>
  </div>
</section>
<section class="text-center text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 rounded">
        <div class="m-3 bg-danger rounded p-3">
          <i class="fa fa-address-book fa-3x"></i>
          <h3>Sample Heading</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, nisi.</p></div>
      </div>
      <div class="col-md-4 rounded">
        <div class="m-3 bg-dark rounded p-3">

          <i class="fa fa-play fa-3x"></i>
          <h3>Sample Heading</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, nisi.</p>
        </div>
      </div>
      <div class="col-md-4 rounded">
        <div class="m-3 bg-danger rounded p-3">

          <i class="fa fa-camera fa-3x"></i>
          <h3>Sample Heading</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, nisi.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 rounded">
        <div class="m-3 bg-dark rounded p-3">

          <i class="fa fa-coffee fa-3x"></i>
          <h3>Sample Heading</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, nisi.</p>
        </div>
      </div>
      <div class="col-md-4 rounded">
        <div class="m-3 bg-danger rounded p-3">

          <i class="fa fa-adn fa-3x"></i>
          <h3>Sample Heading</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, nisi.</p>

        </div>
      </div>
      <div class="col-md-4 rounded">
        <div class="m-3 bg-dark rounded p-3">

          <i class="fa fa-pencil fa-3x"></i>
          <h3>Sample Heading</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, nisi.</p>
        </div>
      </div>
    </div>

  </div>

</section>
<!--<section>-->
<!--  <div class="bimage">-->
<!--    <div class="dark-layout d-flex align-items-center">-->
<!--      <div class="container text-center text-white">-->
<!--        <h3>testimonials</h3>-->
<!--        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  -->
<!--</section>-->

<!-- TESTIMONIALS -->
<section id="testimonials" class="p-4 bg-dark text-white">
  <div class="container">
    <h2 class="text-center">testimonials</h2>
    <div class="row text-center">
      <div class="col">
        <div class="slider">
          <div>
            <blockquote class="blockquote">
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.
              </p>
              <footer class="blockquote-footer">John Doe From
                <cite title="Company 1">Company 1</cite>
              </footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote">
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.
              </p>
              <footer class="blockquote-footer">Sam Smith From
                <cite title="Company 2">Company 2</cite>
              </footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote">
              <p class="mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quaerat.
              </p>
              <footer class="blockquote-footer">Meghan Williams From
                <cite title="Company 3">Company 3</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
