<section id="about" class="text-center bg-light p-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="display-4">Why this book</h3>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est explicabo nam officia quaerat
          ullam!
          Cum deleniti ea hic molestias tenetur.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div id="accordianId" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header" role="tab" id="section1HeaderId">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId" aria-expanded="true"
                   aria-controls="section1ContentId">
                  Section 1
                </a>
              </h5>
            </div>
            <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quisquam, voluptate. Accusantium at dolor et ex fugiat molestias perspiciatis placeat voluptatem. Beatae enim et, iure minima quisquam quo suscipit veniam?
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="section2HeaderId">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordianId" href="#section2ContentId" aria-expanded="true"
                   aria-controls="section2ContentId">
                  Section 2
                </a>
              </h5>
            </div>
            <div id="section2ContentId" class="collapse in" role="tabpanel" aria-labelledby="section2HeaderId">
              <div class="card-body">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias animi aspernatur dolor dolorem, eius error inventore ipsam itaque magnam natus nemo nesciunt officia perferendis qui quidem quis quisquam recusandae!
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="section3HeaderId">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordianId" href="#section3ContentId" aria-expanded="true"
                   aria-controls="section3ContentId">
                  Section 3
                </a>
              </h5>
            </div>
            <div id="section3ContentId" class="collapse in" role="tabpanel" aria-labelledby="section3HeaderId">
              <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias animi aspernatur dolor dolorem, eius error inventore ipsam itaque magnam natus nemo nesciunt officia perferendis qui quidem quis quisquam recusandae!
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
