<section class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Login in</h4>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1" class="bmd-label-floating">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="bmd-label-floating">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>

              <a class="btn btn-info btn-raised" [routerLink]="['dashboard']">Login</a>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
