<div class="row">
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Latest Posts</h4>
        <table class="table table-striped">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <a class="btn btn-secondary">
                <i class="fa fa-angle-double-right"></i> Details
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>
              <a class="btn btn-secondary">
                <i class="fa fa-angle-double-right"></i> Details
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>
              <a class="btn btn-secondary">
                <i class="fa fa-angle-double-right"></i> Details
              </a>
            </td>
          </tr>

          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card bg-info text-white">
      <div class="card-body d-flex justify-content-center flex-column align-items-center">
        <h4>Posts</h4>
        <h3><i class="fa fa-pencil mr-2"></i>6</h3>
        <button class="btn btn-outline-light" [routerLink]="['posts']">View</button>
      </div>
    </div>
    <div class="card bg-primary text-white mt-3">
      <div class="card-body d-flex justify-content-center flex-column align-items-center">
        <h4>Categories</h4>
        <h3><i class="fa fa-folder mr-2"></i>6</h3>
        <button class="btn btn-outline-light" [routerLink]="['categories']">View</button>
      </div>
    </div>
    <div class="card bg-success text-white mt-3">
      <div class="card-body d-flex justify-content-center flex-column align-items-center">
        <h4>Users</h4>
        <h3><i class="fa fa-group mr-2"></i>6</h3>
        <button class="btn btn-outline-light" [routerLink]="['users']">View</button>
      </div>
    </div>
  </div>
</div>
