<section>
  <div class="bimage">
    <div class="dark-layout d-flex align-items-center">
      <div class="container text-center text-white">
        <h3>Our Services</h3>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>
<section class="container p-3">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title bg-dark text-white">Service Plan One</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, maxime.</p>
          <ul class="list-group">
            <li class="list-group-item"><i class="fa fa-check mr-2"></i>Feature One</li>
            <li class="list-group-item"><i class="fa fa-check mr-2"></i>Feature Two</li>
            <li class="list-group-item"><i class="fa fa-check mr-2"></i>Feature Three</li>
            <li class="list-group-item"><i class="fa fa-check mr-2"></i>Feature Four</li>
            <li class="list-group-item"><i class="fa fa-check mr-2"></i>Feature Five</li>
          </ul>

        </div>
      </div>
    </div><div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title bg-dark text-white">Service Plan Two</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, molestiae.</p>
          <ul class="list-group">
            <li class="list-group-item"><i class="fa fa-check mr-2"></i>Feature One</li>
            <li class="list-group-item"><i class="fa fa-check mr-2"></i>Feature Two</li>
            <li class="list-group-item"><i class="fa fa-check mr-2"></i>Feature Three</li>
            <li class="list-group-item"><i class="fa fa-check mr-2"></i>Feature Four</li>
            <li class="list-group-item"><i class="fa fa-check mr-2"></i>Feature Five</li>
          </ul>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Service Plan Three</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, vitae!</p>
          <ul class="list-group">
            <li class="list-group-item"><i class="fa fa-check mr-2"></i>Feature One</li>
            <li class="list-group-item"><i class="fa fa-check mr-2"></i>Feature Two</li>
            <li class="list-group-item"><i class="fa fa-check mr-2"></i>Feature Three</li>
            <li class="list-group-item"><i class="fa fa-check mr-2"></i>Feature Four</li>
            <li class="list-group-item"><i class="fa fa-check mr-2"></i>Feature Five</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>
