<section class="container">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/assets/img/person1.jpg" alt="img" class="img-fluid">
    </div>
    <div class="col-md-8 text-white">
      <div class="d-flex flex-column h-100">
        <div class="d-flex justify-content-around bg-dark align-items-center py-5">
          <h4 class="display-4">John Doe</h4>
          <a>
            <i class="fa fa-twitter"></i>
          </a>
          <a>
            <i class="fa fa-facebook"></i>
          </a>
          <a>
            <i class="fa fa-instagram"></i>
          </a>
          <a>
            <i class="fa fa-github"></i>
          </a>
        </div>
        <p class="bg-primary p-4 m-0">
          Experienced Full Stack Web Developer
        </p>
        <div class="d-flex text-center h-100">
          <div class="bg-info w-100 port-item d-flex flex-column" data-toggle="collapse" data-target="#home">
            <i class="fa fa-home d-block fa-2x"></i>
            <span class="d-none d-sm-block">Home</span>

          </div>
          <div class="bg-primary w-100 port-item d-flex flex-column" data-toggle="collapse" data-target="#resume">
            <i class="fa fa-home fa-2x"></i>
            <span class="d-none d-sm-block">Resume</span>

          </div>
          <div class="bg-warning w-100 port-item d-flex flex-column" data-toggle="collapse" data-target="#work">
            <i class="fa fa-home fa-2x"></i>
            <span class="d-none d-sm-block">Work</span>

          </div>
          <div class="bg-danger w-100 port-item d-flex flex-column" data-toggle="collapse" data-target="#contact">
            <i class="fa fa-home fa-2x"></i>
            <span class="d-none d-sm-block">Contact</span>

          </div>
        </div>
      </div>
    </div>
    <!-- HOME -->
    <div class="col-md-12">
      <div id="home" class="collapse show">
        <div class="card bg-info text-white">
          <div class="card-body">
            <h4 class="card-title">Welcome To My Page</h4>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, ut!</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">My Skills</h4>
            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus ea excepturi officia
              quisquam atque eos.</p>
            <hr/>
            <h4>HTML 5</h4>
            <div class="progress mb-3">
              <div class="progress-bar bg-success" style="width:100%"></div>
            </div>
            <h4>CSS3</h4>
            <div class="progress mb-3">
              <div class="progress-bar bg-success" style="width:90%"></div>
            </div>
            <h4>JavaScript</h4>
            <div class="progress mb-3">
              <div class="progress-bar bg-success" style="width:60%"></div>
            </div>
            <h4>PHP</h4>
            <div class="progress mb-3">
              <div class="progress-bar bg-success" style="width:50%"></div>
            </div>
            <h4>Python</h4>
            <div class="progress">
              <div class="progress-bar bg-success" style="width:40%"></div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- RESUME -->
    <div class="col-md-12">
      <div id="resume" class="collapse">
        <div class="card">
          <div class="card-body bg-primary text-white">
            <h4 class="card-title">My Resume</h4>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, ut!</p>
          </div>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Where Have I Worked?</h4>
              <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus ea excepturi officia
                quisquam atque eos.</p>
              <div class="d-flex flex-row justify-content-around">
                <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title">Devmasters</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, magnam.</p>
                    <p class="bg-dark text-white p-2">Position: Full Stack Developer</p>
                    <p class="bg-dark text-white p-2">Phone: (444) 444-4444</p>
                  </div>
                  <div class="card-footer">
                    <h6 class="text-muted">Dates: 2015 - 2018</h6>
                  </div>
                </div>
                <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title">123 Designs</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, magnam.</p>
                    <p class="bg-dark text-white p-2">Position: Web Designer</p>
                    <p class="bg-dark text-white p-2">Phone: (444) 444-4444</p>
                  </div>
                  <div class="card-footer">
                    <h6 class="text-muted">Dates: 2015 - 2018</h6>
                  </div>
                </div>
                <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title">Web Designer Pros</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, magnam.</p>
                    <p class="bg-dark text-white p-2">Position: Web Designer</p>
                    <p class="bg-dark text-white p-2">Phone: (444) 444-4444</p>
                  </div>
                  <div class="card-footer">
                    <h6 class="text-muted">Dates: 2015 - 2018</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Work -->
    <div class="col-md-12">
      <div id="work" class="collapse">
        <div class="card">
          <div class="card-body bg-warning text-white">
            <h4 class="card-title">My Work</h4>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, ut!</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">What Have I Built?</h4>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, ut!</p>
            <div class="row no-gutters">
              <div class="col-md-3">
                <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox">
                  <img src="https://unsplash.it/600.jpg?image=256" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3">
                <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox">
                  <img src="https://unsplash.it/600.jpg?image=255" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3">
                <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox">
                  <img src="https://unsplash.it/600.jpg?image=254" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3">
                <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox">
                  <img src="https://unsplash.it/600.jpg?image=253" alt="" class="img-fluid">
                </a>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-md-3">
                <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox">
                  <img src="https://unsplash.it/600.jpg?image=252" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3">
                <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox">
                  <img src="https://unsplash.it/600.jpg?image=251" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3">
                <a href="https://unsplash.it/1200/768.jpg?image=250" data-toggle="lightbox">
                  <img src="https://unsplash.it/600.jpg?image=250" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3">
                <a href="https://unsplash.it/1200/768.jpg?image=257" data-toggle="lightbox">
                  <img src="https://unsplash.it/600.jpg?image=257" alt="" class="img-fluid">
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Work -->
    <div class="col-md-12">
      <div id="contact" class="collapse">
        <div class="card">
          <div class="card-body bg-danger text-white">
            <h4 class="card-title">My Contact</h4>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, ut!</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Get In Touch</h4>
            <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, ut!</p>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1" class="bmd-label-floating">Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="bmd-label-floating">Email</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>

              <button type="submit" class="btn btn-outline-danger btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="card bg-dark text-white">
    <div class="card-body">
      <button class="btn btn-outline-light">Download Resume</button>
    </div>
  </div>
</section>
