<section>
  <div class="bimage">
    <div class="dark-layout d-flex align-items-center">
      <div class="container text-center text-white">
        <h3>Contact Us</h3>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>
<section class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Get In Touch</h4>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, odio!</p>
            <h4 class="card-title">Address</h4>
            <p class="card-text">550 Main st, Boston MA</p>
            <h4 class="card-title">Email</h4>
            <p class="card-text">test@test.com</p>
            <h4 class="card-title">Phone</h4>
            <p class="card-text">(555) 555-5555</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body text-center">
            <h4 class="card-title">Please fill out this form to contact us</h4>
            <hr/>
            <form>
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" aria-describedby="emailHelp"
                         placeholder="Enter email">

                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" aria-describedby="emailHelp"
                         placeholder="Enter email">

                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" aria-describedby="emailHelp"
                         placeholder="Enter email">

                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" aria-describedby="emailHelp"
                         placeholder="Enter email">

                </div>
              </div>

              <div class="form-group">
                <textarea type="password" class="form-control" placeholder="Message"></textarea>
              </div>

              <button type="submit" class="btn btn-outline-danger btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<section class="bg-dark p-5 text-white text-center">
  <div class="container">
    <h3 class="m-2">Our Staff</h3>
    <div class="row">
      <div class="col-md-3">
        <img class="img-fluid rounded-circle w-75 mb-2" src="/assets/img/person1.jpg">
        <h4 class="mb-2">Jane Doe</h4>
        <small>Marketing Manager</small>
      </div>
      <div class="col-md-3">

        <img class="img-fluid rounded-circle w-75 mb-2" src="/assets/img/person2.jpg">
        <h4 class="mb-2">Jane Doe</h4>
        <small>Marketing Manager</small>

      </div>
      <div class="col-md-3">

        <img class="img-fluid rounded-circle w-75 mb-2" src="/assets/img/person3.jpg">
        <h4 class="mb-2">Jane Doe</h4>
        <small>Marketing Manager</small>

      </div>
      <div class="col-md-3">

        <img class="img-fluid rounded-circle w-75 mb-2" src="/assets/img/person4.jpg">
        <h4 class="mb-2">Jane Doe</h4>
        <small>Marketing Manager</small>

      </div>
    </div>
  </div>
</section>
