<section id="meet" class="p-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3">
        <div class="card primary-card text-white p-3">
          <div class="card-body">
            <h4 class="card-title">Be Better</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, repellendus.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card primary-outline-card p-3">
          <div class="card-body">
            <h4 class="card-title">Be Smarter</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, libero?</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card primary-card text-white p-3" >
          <div class="card-body">
            <h4 class="card-title">Be Faster</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, ea.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card primary-outline-card p-3">
          <div class="card-body">
            <h4 class="card-title">Be Stronger</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, ullam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
