<section>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Edit Settings</h4>
      <p class="card-text">Allow User Registration</p>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          YES
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          NO
        </label>
      </div>
      <p class="card-text">Homepage Format</p>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios2" value="option1" checked>
          Blog Page
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios2" value="option2">
          Homepage
        </label>
      </div>


    </div>
  </div>
</section>

