<section id="about" class="p-5 bg-dark">
  <div class="container">

    <form>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="bmd-label-floating text-white" for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleInputPassword1" class="bmd-label-floating text-white">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        </div>
        <div class="col my-auto">
          <button type="submit" class="btn btn-primary btn-raised btn-block">Submit</button>
        </div>
      </div>
    </form>

  </div>
</section>
