<section id="contact" class="p-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <input type="email" class="form-control form-control-lg" name="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Enter email">
      </div>
      <div class="col-md-4">
        <input type="email" class="form-control form-control-lg" name="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Enter Password">
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-secondary btn-block btn-lg">Submit</button>
      </div>

    </div>
  </div>
</section>
