<section id="nav">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#" routerLink="/">Back</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['home']">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['about']">ABOUT US </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['services']">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['blog']">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['contact']">CONTACT</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</section>
<router-outlet></router-outlet>
<footer class="text-center p-2 dark text-white">
  Copyright &copy; <span id="year"></span> Glozzom
</footer>
<!--<a appLoadScriptDirective [script]="'/assets/js/looplab.js'"></a>-->

