.dark {
  background: black;
}

.dark-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.7);

}

.bimage {
  background: url("/assets/img/lights.jpg") no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: 200px;
  position: relative;
}

@mixin ellipsis($numLines) {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $numLines;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

