@import "~src/app/share/lib";

.bg{
  height: 400px;
  background: url("/assets/img/bg.jpg") no-repeat;
  background-size: cover;
  position: relative;

}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.7);
}

