<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container">
    <a class="navbar-brand" href="#">Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/looplab">LoopLab</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/book">BookTheme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/glozzom">Glozzom</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/portfolio">Portfolio</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div class="container mt-3">
  <div class="row mb-3">
    <div class="col-md-4">
      <div class="card">

        <img class="img-fluid" src="/assets/img/demo1.png"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">

        <img class="img-fluid" src="/assets/img/demo2.png"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">

        <img class="img-fluid" src="/assets/img/demo3.png"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="img-fluid" src="/assets/img/demo4.png"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">

        <img class="img-fluid" src="/assets/img/demo5.png"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">

        <img class="img-fluid" src="/assets/img/demo6.png"/>
      </div>
    </div>
  </div>
</div>
