@import "../book.component";

//noinspection ALL
#home {
  background: url('/assets/img/mountains.jpg') no-repeat fixed;
  height: 600px;
  margin-top: 66px;

}

.primary-overlay {
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
  height: 600px;
  background-color: $primary;
  opacity: 0.8;
}
@media (max-width:768px ) {
  h1{
    font-size: 4rem;
  }

}
