<section id="home" class="pt-5 ">
  <div class="primary-overlay text-white">
    <div class=" container">
      <div class="row text-center ">
        <div class="col-md-6 mt-5 pt-5">
          <h1 class="display-3">Do want you Dream of...</h1>
          <p class="lead mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequatur esse illo itaque,
            laboriosam laborum libe!</p>
          <button class="btn btn-outline-light ">Read More</button>
        </div>
        <div class="col-md-6 d-none d-md-block">
          <img src="/assets/img/book.png" alt="" class="img-fluid ">
        </div>
      </div>
    </div>
  </div>
</section>
