<section>
  <div class="container p-5">
    <div class="row text-center">
      <div class="col">
        <h3 class="display-4">Meet The Authors</h3>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque consequuntur debitis dolor earum
          error
          et iusto maiores nostrum, porro qui recusandae repellendus, temporibus. Dignissimos illo ipsum maiores
          perspiciatis recusandae!</p>
      </div>
    </div>
  </div>
</section>
